/*Include fonts police*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Deca:wght@200;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

/*-------- Body style --------------- */
body {
  background-color: #0a0c1c;
}

/*Body and global card*/
.card-container, body {
  margin: 0;
  padding: 0;
  color: white;
}
.card-container {
  width: 100%;
  padding: 0px;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Card center start -------------------------------------------------*/
.card-centered {
  width: 1110px;
  height: 446px;
  background: #1B1937;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Card-left start ***************************************/
.card-left {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;

}
.card-number-grid
{
  display: flex;
  justify-content: space-between;
  width: 79%;
}
.card-number {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 12%;
  display: block;
}

.card-number-info {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.6;
  display: block;
  padding-bottom: 2%;
  margin-right: 4%;
}

.card-left-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

 .color-custom {
  color: #AB5CDB;
}
.card-left-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-bottom: 12%;
  width: 79%;
}

/*Card-left end ****************************************/

/*Card-right start ***************************************/
.card-right {
  width: 950px;
  height: 446px;
  border-radius: 8px 8px 8px 8px;
  background-image: url("../images/image-header-mobile.jpg");
  background-blend-mode: overlay;
  background-color: #aa5cdb;
  background-blend-mode: multiply;
  background-repeat: no-repeat,repeat;

}

/*Card-right end ***************************************/

/*Card center end -------------------------------------------------*/

/*style for mobile device*/
@media(min-width: 200px) and (max-width: 992px) {

    .card-container, body {
      text-align: center;
      color: white;
    }
    .card-container .card-centered
    {
      width: 327px;
      height: 800px;
      display: flex;
      flex-direction: column-reverse;
    }
    .card-number-grid {
      flex-direction: column;
    }
    .card-left-description, .card-number-grid
    {
      width: 100%;
    }
    .card-container .card-centered .card-left-title
    {
      font-size: 28px;  
      margin-top: 0px;
    }
    .card-container .card-centered .card-right {
      height: 240px;
      width: 100%;
    } 

}